name: Main

on: [pull_request, push]

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node: [18, 20]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node}}
      - name: Install deps
        run: yarn --non-interactive --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Test build
        run: yarn build

      - name: Unit tests
        run: yarn test:unit
      - name: Download spec tests
        run: yarn download-spec-tests
      - name: Spec tests
        run: yarn test:spec
      - name: Web tests
        run: yarn test:web

      - name: Benchmark
        run: yarn benchmark:all
